/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3990962 */
  src: url('//at.alicdn.com/t/c/font_3990962_thx79asmjf.woff2?t=1680341426243') format('woff2'),
       url('//at.alicdn.com/t/c/font_3990962_thx79asmjf.woff?t=1680341426243') format('woff'),
       url('//at.alicdn.com/t/c/font_3990962_thx79asmjf.ttf?t=1680341426243') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px; /* 字体大小自行修改 */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\ea0b";
  color: black; /* 图标颜色需要自行修改 */
}
